h1{
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}
input{
  width: 100%;
}
.item-container{
  text-align: left;
}
.kg-button{
  min-width: 100px;
}
.space-body{
  margin: 10px 65px;
}